body {
  font-family: Arial;
  padding: 20px;
}

#courseList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  cursor: pointer;
}